

    <h2>Create Event</h2>


<div class="container col-md-12">
    <div class="row">
        <form name="form" ng-submit="vm.event()" role="form">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.eventType.$dirty && form.eventType.$error.required }">
                            <label for="eventType">Event Type</label>

                            <input list="eventType" name="myBrowser" class="form-control" ng-model="vm.events.eventType" autofocus required />
                            <datalist id="eventType">
                                <option value="Birthday">
                                <option value="Party">
                                <option value="Homecoming">
                                <option value="Anniversary">
                                <option value="Get together">
                            </datalist>
                            <span ng-show="form.eventType.$dirty && form.eventType.$error.required" class="help-block">Event Type is required</span>



                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.eventName.$dirty && form.eventName.$error.required }">
                            <label for="eventName">Event Name</label>
                            <input type="text" name="eventName" id="EventName" ng-model="vm.events.eventName" class="form-control" required placeholder="Tims' 9th birthday" />
                            <span ng-show="form.eventName.$dirty && form.eventName.$error.required" class="help-block">Event Name is required</span>



                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.host.$dirty && form.host.$error.required }">
                            <label for="host">Host name</label>
                            <input type="text" name="host" id="host" ng-model="vm.events.host" class="form-control" required placeholder="{{vm.user.firstName}} {{vm.user.lastName}}" />
                            <span ng-show="form.host.$dirty && form.host.$error.required" class="help-block">Host name is required</span>
                        </div>
                    </div>
                </div>
                <div div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.whenStart.$dirty && form.whenStart.$error.required }">
                            <label for="whenStart">Start Date & Time</label>
                            <input type='text'
                                   ng-model="vm.events.whenStart"
                                   ng-model-onblur ng-change="update()"
                                   class="form-control" id='datetimepicker1' autocomplete="on" />

                            <span ng-show="form.whenStart.$dirty && form.whenStart.$error.required" class="help-block">Start Date is required</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': form.whenEnd.$dirty && form.whenEnd.$error.required }">
                            <label for="whenEnd">End Date & Time</label>
                            <input type="text" ng-model="vm.events.whenEnd" ng-model-onblur ng-change="update()" class="form-control" id="datetimepicker2" autocomplete="on"  />

                            <span ng-show="form.whenEnd.$dirty && form.whenEnd.$error.required" class="help-block">End Date what date?</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div id="locationField" class="form-group" ng-class="{ 'has-error': form.where.$dirty && form.where.$error.required }">
                            <label for="locationField">Event Location</label>
                            <input type="text" name="locationField" id="autocomplete" class="form-control" ng-model="vm.events.where" required placeholder="123 Parkway Ave." onFocus="geolocate()" />
                            <span ng-show="form.where.$dirty && form.where.$error.required" class="help-block">Where at?</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                            <label for="description">Description</label>
                            <textarea type="text" name="description" id="description" class="form-control" maxlength="100" ng-model="vm.events.description"></textarea>
                            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block"></span>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Create</button>
                    <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a href="#/login" class="btn btn-link">Cancel</a>
                </div>

            </div>
        </form>
        <form name="form" ng-submit="vm.guest()" role="form">

            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="row">
                        <div class="container ">
                            <div class="form-group" ng-class="{ 'has-error': form.guests.$dirty && form.guests.$error.required }">
                                <label for="guests">Guest List</label>
                                <input type="text" name="guests" id="guests" class="form-control" ng-model="vm.newGuest" required />
                                <span ng-show="form.guests.$dirty && form.guests.$error.required" class="help-block">Invite someone.</span>
                            </div>
                        </div>


                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="guestform.$invalid || vm.dataLoading" ng-click="vm.addGuest()" class="btn btn-primary">Add Guest</button>

                    </div>
                </div>

                    <div class="col-md-12">
                        <div ng-repeat="guest in vm.guests track by $index" class="col-sm-4 ">
                            {{guest}}
                            - <a class="btn" ng-click="vm.removeGuest(guest)">Delete</a>
                        </div>

                    </div>

            </div>
        </form>

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
    });
    function getValue() {
        var theValue = $('#mysearchfield').val()

    }
</script>



    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">





<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

// This example requires the Places library. Include the libraries=places
// parameter when you first load the API. For example:
// <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;


function initAutocomplete() {
// Create the autocomplete object, restricting the search to geographical
// location types.
autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});

// When the user selects an address from the dropdown, populate the address
// fields in the form.
autocomplete.addListener('place_changed', fillInAddress);
}

// [START region_fillform]
function fillInAddress() {
// Get the place details from the autocomplete object.
var place = autocomplete.getPlace();

for (var component in componentForm) {
  document.getElementById(component).value = '';
  document.getElementById(component).disabled = false;
}

// Get each component of the address from the place details
// and fill the corresponding field on the form.
for (var i = 0; i < place.address_components.length; i++) {
  var addressType = place.address_components[i].types[0];
  if (componentForm[addressType]) {
    var val = place.address_components[i][componentForm[addressType]];
    document.getElementById(addressType).value = val;
  }
}
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var geolocation = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
    };
    var circle = new google.maps.Circle({
      center: geolocation,
      radius: position.coords.accuracy
    });
    autocomplete.setBounds(circle.getBounds());
  });
}
}
// [END region_geolocation]

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1Th3308MqD3RuE0CJkypkyvFhVUqJPZg&signed_in=true&libraries=places&callback=initAutocomplete"
      async defer></script>
